.project-settings-title {
  @extend %clearfix;

  h2 {
    float: left;
  }

  .project-notification {
    float: right;
    margin: 0 15px;
    color: $base-light-text;
    line-height: 30px;
    @include rem(font-size, 14px);
  }

  .switch {
    float: right;
  }
}

.project-settings-tabs {

  .project-info-header {
    @extend %clearfix;

    .project-logo {
      margin: 0 20px 0 0;
    }

    .project-title {
      float: left;
      color: $base-text;
      font-family: $bold-font-family;
      font-weight: bold;
      line-height: 70px;
      @include rem(font-size, 24px);
    }

    .btn {
      float: right;
      height: 40px;
      padding: 0 20px;
      margin-top: 15px;
      line-height: 40px;
    }
  }

  .project-info-table {
    width: 100%;
    margin-top: 30px;
    color: $base-text;
    @include rem(font-size, 14px);

    tr {
      height: 50px;

      &:nth-child(2n+1) {
        background-color: $project-bg;
        border-radius: 6px;
      }

      td {
        border: none;

        &:first-child {
          border-radius: 6px 0 0 6px;
          font-family: $bold-font-family;
          font-weight: bold;
        }

        &:last-child {
          border-radius: 0 6px 6px 0;
        }

        &:nth-child(3) {
          font-family: $bold-font-family;
          font-weight: bold;
        }
      }
    }

    .platform {
      float: left;
      min-width: 80px;
      clear: both;
      @include rem(font-size, 0);

      > div {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 5px;
        border-radius: 50%;
        color: $white;
        text-align: center;
        @include rem(font-size, 12px);

        > div:nth-child(n+2) {
          margin-left: 5px;
        }

        & > span {
          line-height: 20px;
          position: relative;

          .platform-info-block{
            &:before{
              content: attr(data-title);
              display: inline-block;
              position: absolute;
              top: -30px;
              left: 25px;
              transform: translateX(-50%);
              padding: 0 20px;
              color: $white;
              white-space: nowrap;
              background: #b7b7b7;
              border-radius: 3px;
              opacity: 0;
              visibility: hidden;
              transition: all 350ms ease-in-out 0s;
              z-index: 20;
              @include rem(font-size, 14px);
            }
            &:after{
              content: '';
              position: absolute;
              top: -10px;
              left: -1px;
              opacity: 0;
              visibility: hidden;
              width: 0;
              height: 0;
              border-left: 6px solid transparent;
              border-right: 6px solid transparent;
              border-top: 6px solid #b7b7b7;
              transition: all 350ms ease-in-out 0s;
            }
          }

          &:hover{
            .platform-info-block{
              &:before,
              &:after{
                opacity: 0.9;
                visibility: visible;
              }
            }
          }
        }

        &.android {
          background-color: $android-platform;
        }

        &.apple {
          background-color: $apple-platform;
        }

        &.globe {
          background-color: $globe-platform;
        }
      }
    }

    .last-update {
      display: inline-block;
      padding: 0 10px;
      background-color: $project-last-update-bg;
      border-radius: 4px;
      color: $project-last-update-text;
      font-family: $bold-font-family;
      font-weight: bold;
      text-align: center;
      line-height: 20px;
      @include rem(font-size, 12px);
    }
  }

  .manage-members-btn {
    @extend %clearfix;

    .btn {
      float: right;
      height: 40px;
      padding: 0 20px;
      line-height: 40px;
    }
  }

  .member {
    &:nth-child(2n+1) {
      background-color: $row-member-bg-1;
    }
  }

  .delete-project {
    @extend %clearfix;

    .warning-icon {
      float: left;
      margin-right: 20px;
    }

    .warning-description {
      float: left;
      margin-bottom: 90px;
      color: $delete-project;

      &-title {
        line-height: 14px;
        font-family: $bold-font-family;
        font-weight: bold;
        @include rem(font-size, 16px);
      }

      &-text {
        margin: 0;
        @include rem(font-size, 14px);
      }
    }

    .btn {
      float: right;
      height: 40px;
      padding: 0 20px;
      line-height: 40px;
    }
  }
}

#team,
#deleteProject {
  display: none;
}