<div style="margin-top: 8px">
   <%= I18n.t('move_to_new_ip') %> 
   <button type="submit" class="btn btn-red btn-xs" formaction="<%= "#{licenses_path}?forget_ip=true" %>">
     OK
   </button>
</div>
