<tr>
  <td class="payment-date"><%= l(license.expire_at, format: '%d %b %y') %></td>
  <td class="payment-date"><%= l(license.start_at, format: '%d %b %y') %></td>
  <td class="payment-type"><%= license.number_of_licenses %></td>
</tr>
