/tmp
*.log
.ruby-gemset
.ruby-version
public/system/
public/html/
public/pdfs/
node_modules/
erd.pdf
.byebug_history
dump.rdb
db/schema.rb
.idea/
/.env
/.env.*
.rubocop.yml

frontend/.tern-project
**.tern-port**
frontend/dist/
tags**
frontend/tags**
**logfile
**.smartgf_tags**
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
