<div class="container-full">
  <div class="row">
    <div class="main-content col m-12">
      <div class="card">
        <div class="card-configuration">
          <p>
            Your EasyQA integration is not yet configured.Please configure or update the integration in JIRA's administration area under Add-ons > Manage add-ons > EasyQA for JIRA Test Management > Configure.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
