<div class="container-full">
  <div class="row">
    <div class="main-content col m-12">
      <div class="card">
        <div class="card-configuration">
          <p>
            You have no permissions to view this page.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
