<div class="container-full">
  <div class="row">
    <div class="main-content col m-12">
      <div class="card">
        <div class="card-configuration">
          <p>
            There is no project with key <%= params[:project_key] %> on EasyQA. Please create a new one or use already existing and configure it's jira integration.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
