<div class="wrapper">
  <div class="confirm-message">
    <p>Thank you for requesting a trial version of EasyQA Standalone! </p>
    <p>Please, check your email and follow instructions to proceed.</p>
  </div>
</div>
