@font-face {
  font-family: 'icomoon';
  src: font-url("font-icon/icomoon.eot?47ypci");
  src: font-url("font-icon/icomoon.eot?47ypci#iefix") format("embedded-opentype"),
       font-url("font-icon/icomoon.ttf?47ypci") format("truetype"),
       font-url("font-icon/icomoon.woff?47ypci") format("woff"),
       font-url("font-icon/icomoon.svg?47ypci#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font: normal normal normal 14px/1 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrow:before {
  content: "\e900"; }

.icon-arrow-down:before {
  content: "\e901"; }

.icon-arrow-down-treeFolder:before {
  content: "\e902"; }

.icon-arrow-right-treeFolder:before {
  content: "\e903"; }

.icon-arrow-up:before {
  content: "\e904"; }

.icon-basket-icon:before {
  content: "\e905"; }

.icon-change-password:before {
  content: "\e906"; }

.icon-clip_icon:before {
  content: "\e907"; }

.icon-close:before {
  content: "\e908"; }

.icon-close-icon:before {
  content: "\e909"; }

.icon-crashes-icon:before {
  content: "\e90a"; }

.icon-delete-icon:before {
  content: "\e90b"; }

.icon-delete-icon-small:before {
  content: "\e90c"; }

.icon-delete-organization:before {
  content: "\e90d"; }

.icon-drag-icon:before {
  content: "\e90e"; }

.icon-edit-icon:before {
  content: "\e90f"; }

.icon-edit-icon-blue:before {
  content: "\e910"; }

.icon-edit-icon-small:before {
  content: "\e911"; }

.icon-export:before {
  content: "\e912"; }

.icon-folder-icon:before {
  content: "\e913"; }

.icon-folder-icon-white:before {
  content: "\e914"; }

.icon-import:before {
  content: "\e915"; }

.icon-issues-icon:before {
  content: "\e916"; }

.icon-load-cloud:before {
  content: "\e917"; }

.icon-log-out:before {
  content: "\e918"; }

.icon-mail-icon:before {
  content: "\e919"; }

.icon-my-organizations:before {
  content: "\e91a"; }

.icon-notifications:before {
  content: "\e91b"; }

.icon-org-members:before {
  content: "\e91c"; }

.icon-payment-history:before {
  content: "\e91d"; }

.icon-Personal:before {
  content: "\e91e"; }

.icon-plans-and-billings:before {
  content: "\e91f"; }

.icon-print-icon:before {
  content: "\e920"; }

.icon-project-overwiew-icon:before {
  content: "\e921"; }

.icon-projects:before {
  content: "\e922"; }

.icon-reload-icon:before {
  content: "\e923"; }

.icon-sdk-icon:before {
  content: "\e924"; }

.icon-setting-icon:before {
  content: "\e925"; }

.icon-table-icon:before {
  content: "\e926"; }

.icon-test-ob-icon:before {
  content: "\e927"; }

.icon-test-plan-icon:before {
  content: "\e928"; }

.user-menu-ico {
  margin: 0 15px;
  font-size: 20px;
}

.icon-basket-icon {
  font-size: 16px;
}

.icon-export,
.icon-import {
  font-size: 24px;
  color: #fff;
}

.icon-table-icon {
  font-size: 13px;
  color: #fff;
}
