<div class="modal-dialog deactivate-account">
  <div class="modal-content container">
    <div class="title-main">
      <h3>Payments expiring</h3>
      <span class="close">
        <span class='icon-close-icon'></span>
      </span>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col xs-2">
          <%= image_tag('warning-icon.png', class: 'warning-img') %>
        </div>

        <div class="col xs-10">
          <p class="description-title">Payments in your organization was expiring</p>
        </div>
      </div>
    </div>
  </div>
</div>
