<div class="container-full">
  <div class="row">
    <div class="main-content col m-12">
      <div class="sign standalone-payments">
        <div class='client_form'>
            <%= render partial: 'client_form' %>
        </div>

        <div class="payments">
        </div>
      </div>
    </div>
  </div>
</div>
