<header id='head_menu' class="main-header">
  <div class="logo_title logo-title-light">
    <%= link_to root_path do %>
      <%= image_tag image('logo_main.png') %>
      <span>Easy QA</span>
    <% end %>
  </div>
</header>
